<div
  class="container text-center my-4"
  style="font-family: Inria Sans, sans-serif"
>
  <h2>Contact Us</h2>
</div>
<div class="container" style="font-family: Inria Sans, sans-serif">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="contact-card">
        <h5>MORISSET (With in Waratah Medicals)</h5>
        <p>89 Dora Street, MORISSET NSW 2264</p>
        <div></div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.011983988293!2d151.48429477539932!3d-33.108768780094955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b732843a9300efd%3A0x11bf513e92f5c2a9!2sWaratah%20Medical%20Services!5e0!3m2!1sen!2sin!4v1741178827702!5m2!1sen!2sin"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="col">
      <div class="contact-card">
        <h5>WYEE (With in Wyee medicals)</h5>
        <p>Shop 2 Wyee Shopping Centre, 131-133 Wyee Road, Wyee NSW, 2259</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3339.4760781239534!2d151.4827353754026!3d-33.175378883477556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b72d786d21c0527%3A0x5b41471c057a82b4!2sWyee%20Medical%20Centre!5e0!3m2!1sen!2sin!4v1741178204519!5m2!1sen!2sin"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="col">
      <div class="contact-card">
        <h5>CENTRAL MANGROVE (With Central Coast Plateau Medical centre)</h5>
        <p>1639 Nurses Rd, Central Mangrove NSW 2250</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3334.955334499809!2d151.23421747540854!3d-33.293831489507845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b0d33d91baf7e4d%3A0x5230b492be71af0f!2sCentral%20Coast%20Plateau%20Medical%20Centre!5e0!3m2!1sen!2sin!4v1741178925309!5m2!1sen!2sin"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="col">
      <div class="contact-card">
        <h5>WOONGARRAH (Warnervale GP Super Clinic | Doctors Warnervale)</h5>
        <p>3 Mary Mackillop Dr, Woongarrah NSW 2259</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.950060676609!2d151.469587!3d-33.24161169999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b72d0e2186e3005%3A0x3648d5f21e93edf8!2sWarnervale%20GP%20Super%20Clinic%20I%20Doctors%20Warnervale!5e0!3m2!1sen!2sin!4v1741699419589!5m2!1sen!2sin"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<div class="contact-section mt-5" style="font-family: Inria Sans, sans-serif">
  <div class="overlay"></div>
  <div class="container position-relative">
    <div class="row align-items-start">
      <div class="col-md-6 mt-4">
        <h4>“Let’s connect and find the perfect hearing solution for you!”</h4>
        <div class="" style="margin-top: 30px">
          <h6><i class="fas fa-phone"></i> 0243115511</h6>
          <h6>
            <i class="fas fa-envelope"></i> admin&#64;welfasthearing.com.au
          </h6>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form text-center pb-5">
          <form
            action="https://formsubmit.co/admin@welfasthearing.com.au"
            method="POST"
          >
            <input
              type="text"
              class="form-control my-2"
              placeholder="Name"
              name="Name"
              required
            />
            <input
              type="email"
              class="form-control my-2"
              placeholder="Email"
              name="Email"
              required
            />
            <input
              type="tel"
              class="form-control my-2"
              placeholder="Phone"
              name="Phone"
              required
            />
            <input
              type="text"
              class="form-control my-2"
              placeholder="Subject"
              name="Subject"
              required
            />
            <textarea
              class="form-control my-2"
              placeholder="Message"
              name="Message"
              required
            ></textarea>
            <!-- add hidden Honeypot input to prevent spams -->

            <input
              type="hidden"
              name="_next"
              value="https://welfasthearing.com.au/Contact-us"
            />
            <button type="submit" class="btn btn-success w-100">Send</button>
          </form>
        </div>

        <!-- <div class="contact-form text-center pb-5">
          <h5 class="py-3">Get in touch</h5>
          <input type="text" class="form-control my-2" placeholder="Name" />
          <input type="email" class="form-control my-2" placeholder="Email" />
          <input type="text" class="form-control my-2" placeholder="Subject" />
          <textarea class="form-control my-2" placeholder="Message"></textarea>
          <button class="btn">Submit</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
