<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30 mt-2">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span></span>
            </div>
            <div class="d-flex px-2">
              <div
                class="text-secondary"
                style="margin-left: 16px; font-size: 13px"
              >
                <a
                  [routerLink]="['/Contact-us']"
                  fragment="MORISSET"
                  style="text-decoration: none; color: #757575"
                  ><span>Morisset ,</span>
                </a>

                <a
                  [routerLink]="['/Contact-us']"
                  fragment="WYEE"
                  style="text-decoration: none; color: #757575"
                  ><span>Wyee ,</span></a
                >
                <a
                  [routerLink]="['/Contact-us']"
                  fragment="CENTRALMANGROVE"
                  style="text-decoration: none; color: #757575"
                  ><span> Central Mangrove ,</span></a
                >
                <a
                  [routerLink]="['/Contact-us']"
                  fragment="WOONGARRAH "
                  style="text-decoration: none; color: #757575"
                  ><span> Woongarrah </span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30 mt-2">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Click here to call us</h4>

              <span>
                <a
                  href="tel:0243115511"
                  style="text-decoration: none; color: #757575"
                  >0243115511</a
                >
              </span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30 mt-2">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span> admin&#64;welfasthearing.com.au</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50 mt-1">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"
                ><img
                  src="../../../assets/Welfast Hearing Branding Kit-09.png"
                  class="img-fluid"
                  alt="logo"
              /></a>
            </div>
            <div class="footer-text">
              <p>
                Welcome to Welfast Hearing, Your trusted hearing wellness
                experts in Central Coast and Lake Macquarie. It is not just
                about hearing in Welfast Hearing, it is about re-discovering the
                hearing wellness and enjoying the full spectrum of sounds around
                you.
              </p>
            </div>
            <!-- <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="https://www.facebook.com/profile.php?id=61566812409221" target="_blank"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a href="https://www.instagram.com/empowerhearing/" target="_blank"><i class="fab fa-instagram instagram-bg"></i></a>

            </div> -->
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-1">
          <div class="footer-widget">
            <div
              class="footer-widget-heading"
              style="
                font-family: Inria Sans, sans-serif;
                font-weight: 700;
                font-style: normal;
              "
            >
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li>
                <a href="" routerLink="/" style="text-decoration: none">Home</a>
              </li>
              <li>
                <a href="" routerLink="/Services" style="text-decoration: none"
                  >Services</a
                >
              </li>
              <li>
                <a
                  href=""
                  routerLink="/Hearing-aids"
                  style="text-decoration: none"
                  >Products</a
                >
              </li>

              <li>
                <a
                  href=""
                  routerLink="/Contact-us"
                  style="text-decoration: none"
                  >Contact Us</a
                >
              </li>
              <li>
                <a href="" routerLink="/blog" style="text-decoration: none"
                  >Blog
                </a>
              </li>

              <!-- <li>
                <a
                  href=""
                  routerLink="/Admin-login"
                  style="text-decoration: none"
                  >Admin Login</a
                >
              </li> -->
              <li>
                <a href="" routerLink="/about-us" style="text-decoration: none"
                  >About-us</a
                >
              </li>
              <li>
                <a href="" routerLink="/FAQ" style="text-decoration: none"
                  >FAQ</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Follow us</h3>
            </div>
            <div class="footer-social-icon">
              <a
                href="https://www.facebook.com/profile.php?id=61573713519430"
                target="_blank"
                ><i class="fab fa-facebook-f facebook-bg"></i
              ></a>
              <a
                href="https://www.instagram.com/welfast_hearing_au/"
                target="_blank"
                ><i class="fab fa-instagram instagram-bg"></i
              ></a>
              <!-- <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="copyright-text">
            <p>
              Copyright &copy; 2024, All Right Reserved
              <a
                href="https://gaudete.in/"
                target="_blank"
                style="text-decoration: none"
                >Gaudete</a
              >
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
